---
import Footer from "../Footer.astro";
import Header from "../Header/Header.astro";
import RouteTransitions from "./RouteTransitions.astro";
import { darkPalette, lightPalette, basePalette } from "../../utils/theme";
import "./MarkdownStyles.scss";

export interface Props {
	title?: string;
	frontmatter?: any;
}

const title = Astro.props.title ?? Astro.props.frontmatter.title;
const now = new Date().toUTCString();

const prefixedLightPalette = Object.entries(lightPalette).reduce((map, [key, value]) => {
	map["light-" + key] = value;
	return map;
}, {} as Record<string, string>);

const palette = {
	...darkPalette,
	...basePalette,
	...prefixedLightPalette
};
---
<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta name="turbo-cache-control" content="no-cache">
		<meta name="buildtime" content={now} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{!!title ? title + " | Standel.io" : "Standel.io"}</title>
		<RouteTransitions />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
	</html>
<style lang="scss" is:global define:vars={palette}>
	@import url(
		"https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap"
	);
  @keyframes fadeIn {
    0% {
      transform: translate(-25px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

	html {
		font-family: 'Poppins', sans-serif;

		--palette-primary: var(--primary);
		--palette-secondary: var(--secondary);

		@mixin dark {
			color-scheme: dark;
			--palette-bgMain: var(--bgMain);
			--palette-bgCard: var(--bgCard);
			--palette-txtMain: var(--txtMain);
			--palette-txtHeavy: var(--txtHeavy);
			--icon-filter: invert(1);
		}

		@mixin light {
			color-scheme: light;
			--palette-bgMain: var(--light-bgMain);
			--palette-bgCard: var(--light-bgCard);
			--palette-txtMain: var(--light-txtMain);
			--palette-txtHeavy: var(--light-txtHeavy);
			--icon-filter: invert(0);
		}
		&.dark-themeMode {
			@include dark;
		}

		@media (prefers-color-scheme: dark) {
			@include dark;
		}

		&.light-themeMode {
			@include light;
		}

		@media (prefers-color-scheme: light) {
			@include light;
		}

		&.custom-themeMode {
			--palette-primary: var(--custom-primary, var(--primary));
			--palette-secondary: var(--custom-secondary, var(--secondary));
			--palette-bgMain: var(--custom-bgMain, var(--bgMain));
			--palette-bgCard: var(--custom-bgCard, var(--bgCard));
			--palette-txtMain: var(--custom-txtMain, var(--txtMain));
			--palette-txtHeavy: var(--custom-txtHeavy, var(--txtHeavy));
		}
	}
	body {
		background: var(--palette-bgMain);
		color: var(--palette-txtMain);
		min-height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
		// jumpy header between pages drives me bonkers
		overflow-y: scroll;

		> main {
			flex-grow: 1;
			width: 100%;
			max-width: min(650px, calc(100% - 50px));
			display: flex;
			flex-direction: column;
		}
	}
</style>
