---
import BlogCard from "./BlogCard.astro";

const posts = (await Astro.glob("../pages/blog/*.mdx"))
  .filter((post) => 
    !post.frontmatter.draft && !post.file.endsWith("/index.mdx")
  ).sort((a, b) => 
    new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime()
  );
---
<ul class="post">
  {posts.map(post => (
    <li>
      <BlogCard 
        href={post.url!}
        title={post.frontmatter.title}
        description={post.frontmatter.description}
        date={post.frontmatter.date}
        categories={post.frontmatter.categories} />
    </li>
  ))}
</ul>
<style lang="scss">
  ul {
    padding: 0;
  }
  ul.post li {
    display: flex;
    &::marker {
      display: none;
    }
    &:not(:last-child) {
      margin-bottom: .5em;
    }
  }
</style>