---
import Link from "./Link.astro";

const posts = (await Astro.glob("../pages/blog/*.mdx"))
  .filter((post) => 
    !post.frontmatter.draft && !post.file.endsWith("/index.mdx")
  );
---
<ul class="post">
  {posts.map(post => (
    <li>
      <Link href={post.url!}>
        {post.frontmatter.title + " →"}
      </Link>
    </li>
  ))}
</ul>
<style lang="scss">
  ul {
    padding: 0;
  }
  ul.post li {
    display: flex;
    &::marker {
      display: none;
    }
    &::before{
      content: "•";
      margin-right: 1.5em;
    }
    &:not(:last-child) {
      margin-bottom: .5em;
    }
  }
</style>