---
export type Props = {
  href: string;
  size?: "big" | "medium"
  highlight?: boolean;
};

const { href, highlight, size = "medium" } = Astro.props;
---
<a href={href} class:list={[size, highlight ? "highlight" : ""]}>
  <span><slot /></span>
</a>
<style lang="scss">
  a {
    all: unset;
    display: inline;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: transform .2s ease;
    background: linear-gradient(
      to right,
      var(--palette-primary),
      var(--palette-secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    > span {
      display: inline;
      cursor: inherit;
      background: linear-gradient(
        to right,
        var(--palette-primary),
        var(--palette-secondary)
      );
      background-size: 0 3px;
      background-repeat: no-repeat;
      background-position: left bottom;
      transition: background-size .2s ease;
    }
    

    &:hover, &:focus-visible, &.highlight {
      > span {
        background-size: 100% 3px;
      }
    }

    &:focus-visible {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(.9);
    }

    &.big {
      font-size: 1.5em;
      .secondary {
        height: 3px;
      }
    }
  }
</style>